@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');

:root {
    --blanco: #FFFFFF;
    --gris: #808080;
    --brown: #A0522D;
    --brownLight: #be911d;
}

html{
    box-sizing: border-box;
    font-size: 62.5% !important; /*1 rem == 10px*/
    font-family: 'Playfair Display', serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

p{
    font-size: 2rem;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    max-height: auto;
}

button{
    text-decoration: none;
    text-transform: uppercase;
}

/*header*/

header{
    background-image: url(../img/img_header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.header_titulo, .nav{
    margin-top: 3rem;
}

.header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}

.header_titulo{
    color: var(--blanco);
}

.header_titulo h1:after {
    content:"DeCafé";
    font-weight: bold;
}

.header_main{
    height: 60rem;
    background-color: rgba(0, 0, 0, 0.52);
}

.nav{
    display: flex;
    align-items:center;
    
}

.nav_ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
}

.nav_ul :hover{
    color: var(--gris);
}

.nav_ul li p{
    color: var(--blanco);
}

.nav_ul p{
    cursor: pointer;
}

@media (max-width: 768px){
    .nav_ul {
        flex-direction: column !important; 
        margin-left: 4rem;
    }
    .presentacion{
        text-align: center;
    }
    .presentacion h2{
        font-size: 2.5rem;
    }
    .presentacion p{
        font-size: 2rem;
    }
}

.presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blanco);
    row-gap: 5rem;
}

.presentacion_titulo{
    font-weight: bold;
}

header .presentacion{
    margin-top: 15rem;
}

/*main*/

.container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    padding: 4rem 0;
    margin: 0 10rem;
    gap: 7rem;
}

.nuestroblog_titulo{
    grid-column: 1/2;
    width: auto;
}

.nuestroscursos_titulo{
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: left;
}

.nuestroblog_titulo, 
.nuestroscursos_titulo,
.nuestroscursos_subtitulo--1 h3{
    font-weight: bold;
}

.nuestroscursos_subtitulo--1 div, .nuestroscursos_subtitulo--1_informacion ul li{
    margin-bottom: 4rem;
}


.nuestroblog_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1/2;
}

@media screen and (max-width: 480px) {
    .container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

.btn{
    background-color: var(--brown);
    padding: 2rem;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--blanco);
}

.btn:hover{
    background-color: var(--brownLight);
}